<!-- <p>footer works!</p> -->
<div class="grid mt-20 grid-cols-4 font-serif text-base px-16">
  <div>
    <h1 class="font-arim mb-4 text-xs font-bold">COMPANY INFO</h1>
    <p>About Us</p>
    <p>Latests Posts</p>
    <p>Contact Us</p>
    <p>Shop</p>
  </div>

  <div>
    <h1 class="font-arim text-xs mb-4 font-bold">HELP LINKS</h1>
    <p>Tracking</p>
    <p>Order Status</p>
    <p>Delivery</p>
    <p>Shipping Info</p>
    <p>FAQ</p>
  </div>

  <div>
    <h1 class="font-arim text-xs mb-4 font-bold">USEFUL LINKS</h1>
    <p>Special Offers</p>
    <p>Gift Cards</p>
    <p>Advertising</p>
    <p>Terms of Use</p>
  </div>

  <div>
    <h1 class="font-arim text-xs mb-4 font-bold">GET IN THE KNOW</h1>
    <span class="flex items-center gap-x-2">
      <input
        type="text"
        placeholder="Enter email"
        class="border-b text-[#1d1d1d] outline-none placeholder:text-[#1d1d1d] border-[#1d1d1d]"
        name=""
        id=""
      />

      <img src="assets/arrow.png" alt="" />
    </span>
  </div>
</div>
<div class="px-16 pt-20 justify-between w-full">
  <span
    class="flex border-t justify-between relative border-red-950 w-full items-center"
  >
    <div class="py-6">
      <p class="text-sm font-serif">&#169;2024 NorthStar eCommerce</p>
      <span class="flex items-center font-serif gap-4 text-sm">
        <p>Privacy Policy Terms & Conditions</p>
        <p>Terms & Conditions</p>
      </span>
    </div>

    <span>
      <img src="assets/payments.png" alt="" />
    </span>
  </span>
</div>
