<div
  class="flex justify-between items-center py-4 font-sans font-semibold px-3 lg:px-10"
>
  <div class="flex items-center gap-x-20">
    <h1 class="font-serif text-4xl text-[#1d1d1d] cursor-pointer" routerLink="">
      NorthStar
    </h1>
    <div
      class="hidden lg:flex items-center text-[#024E82] text-xs font-bold font-ari gap-x-4"
    >
      <a routerLink="">HOME</a>
      <a routerLink="/about-us" class="cursor-pointer">ABOUT</a>
      <a routerLink="/contact-us" class="cursor-pointer">CONTACT US</a>
    </div>
  </div>

  <div class="flex items-center gap-x-4">
    <div *ngIf="isLoggedIn">
      <p>Welcome, {{ firstname }}</p>
    </div>
    <img
      *ngIf="isLoggedIn"
      src="/assets/user 1.png"
      routerLink="/profile"
      class="cursor-pointer"
      alt=""
    />
    <span class="flex relative items-center">
      <div class="absolute bottom-4 left-2">
        <img class="" src="assets/Ellipse 1.png" alt="" />
        <p
          class="font-bold absolute text-[10px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center font-serif z-10"
        >
          {{ cartItemCount }}
        </p>
      </div>

      <img
        src="/assets/cart.png"
        routerLink="/cart"
        class="cursor-pointer"
        alt=""
      />
    </span>

    <div *ngIf="!isLoggedIn">
      <p
        class="border hidden lg:block px-4 py-1 rounded-lg cursor-pointer"
        routerLink="/login"
      >
        Login
      </p>
    </div>

    <div class="lg:hidden block">
      <img
        src="/assets/menu 1.png"
        (click)="setMenuState()"
        class="cursor-pointer"
        *ngIf="!toggle"
        alt=""
      />
    </div>
    <!-- Mobile Menu Overlay -->
    <div
      class="fixed inset-0 bg-black bg-opacity-50 z-40 lg:hidden"
      *ngIf="toggle"
      (click)="closeMenuOnOverlay($event)"
    >
      <div
        class="bg-white h-full  px-6"
        (click)="$event.stopPropagation()"
      >
        <img
          src="/assets/closeicon.svg"
          *ngIf="toggle"
          (click)="setMenuState()"
          class="cursor-pointer pb-10 pt-10"
          alt=""
        />
        <div class="flex flex-col space-y-6 text-lg font-semibold">
          <a
            routerLink=""
            class="text-[#024E82] py-3 border-b border-gray-200"
            (click)="setMenuState()"
            >HOME</a
          >
          <a
            routerLink="/about-us"
            class="text-[#024E82] py-3 border-b border-gray-200"
            (click)="setMenuState()"
            >ABOUT</a
          >
          <a
            routerLink="/contact-us"
            class="text-[#024E82] py-3 border-b border-gray-200"
            (click)="setMenuState()"
            >CONTACT US</a
          >

          <a
            routerLink="/login"
            class="text-[#024E82] py-3 border-b border-gray-200"
            (click)="setMenuState()"
            >LOGIN</a
          >
          <a
            routerLink="/signup"
            class="text-[#024E82] py-3 border-b border-gray-200"
            (click)="setMenuState()"
            >GET STARTED</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
