<div>
  <div>
    <app-navbar />
  </div>

  <div>
    <div class="grid grid-cols-4 px-14 gap-x-4 gap-y-10 mb-10 relative">
      <div *ngFor="let cat of categories()" class="h-64">
        <div class="">
          <p class="font-bal text-base text-[#1d1d1d] mt-1 font-medium">
            {{ cat.name }}
          </p>
          
        </div>
      </div>

      <div class="px-14 absolute gap-4 grid grid-cols-4 gap-y-10">
        <img
          (click)="viewCategory()"
          class="w-96 h-60 mt-6 cursor-pointer"
          src="{{ item.img }}"
          *ngFor="let item of categoryArray"
          alt=""
        />
      </div>
    </div>
  </div>

  <div>
    <app-footer />
  </div>
</div>
