<div>
  <app-navbar />

  <div class="px-10">
    <div>
      <h1 class="text-2xl font-bal">My details</h1>
      <div
        class="flex items-center w-full justify-between mt-6 border-b font-bal text-base font-semibold"
      >
        <h3>Personal Information</h3>
        <button
          routerLink="/seller-verification"
          class="bg-[#024E82] text-white px-4 py-1 rounded-xl mb-3"
        >
          Become a seller
        </button>
      </div>
    </div>

    <div>
      <p class="font-bal text-base">
        Enter the required Information below you can change it anytime you want
      </p>
    </div>

    <div class="mt-10 flex">
      <div class="relative text-center">
        <input
          type="file"
          name=""
          id="fileInput"
          (change)="onFileSelected($event)"
          class="hidden"
        />
        <label for="fileInput" class="cursor-pointer">
          <img
            *ngIf="selectedFileUrl; else defaultAvatar"
            [src]="selectedFileUrl"
            class="w-96 border-r-2"
            alt="Selected Avatar"
          />
          <ng-template #defaultAvatar >
            <img
              [src]="profileDetails.profile_picture"
              class="w-96 pr-4  border-r-2"
              alt="Default Avatar"
            />
          </ng-template>
        </label>
        <p (click)="uploadProfilePic()" class="text-sm text-gray-600 mt-10">Upload profile pic</p>
      </div>
      <!-- <img src="/assets/user 1.png" class="w-96" alt=""> -->

      <div class="px-10 py-4 w-1/2 flex">
        <form action="" class="">
          <div class="flex gap-x-5 my-2">
            <div class="flex flex-col w-80">
              <label for="">First name</label>
              <input
                class="border-[#E3E4E3] rounded-[4.65px] border-[0.39px] bg-[#FBFDFF] leading-[15.49px] text-[#363A36] outline-none p-2 placeholder:text-[#666963] font-bal"
                type="text"
                [value]="profileDetails.firstname"
                name=""
                id=""
              />
            </div>

            <div class="flex flex-col w-80">
              <label for="">Last name</label>
              <input
                class="border-[#E3E4E3] rounded-[4.65px] border-[0.39px] bg-[#FBFDFF] leading-[15.49px] text-[#363A36] outline-none p-2 placeholder:text-[#666963] font-bal"
                type="text"
                [value]="profileDetails.lastname"
                name=""
                id=""
              />
            </div>
          </div>
          <div class="flex flex-col my-2 w-full">
            <label for="">Email Address</label>
            <input
              class="border-[#E3E4E3] rounded-[4.65px] border-[0.39px] bg-[#FBFDFF] leading-[15.49px] text-[#363A36] outline-none p-2 placeholder:text-[#666963] font-bal"
              type="text"
              [value]="profileDetails.email"
              name=""
              id=""
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-footer />
</div>
